body {
    background-image: url('https://img.freepik.com/free-vector/cat-lover-pattern-background-design_53876-100662.jpg?w=826&t=st=1703642974~exp=1703643574~hmac=b7183053fe68809e394d219aebe93783e278171d098b66ee576bb542f4fb4aba');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}